* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fbe8df;
    font-family: Arial, Helvetica, sans-serif;
    color: #194850;
    font-size: clamp(12px, 1.5vw, 16px);


}

.container {

    width: 100%;
    height: 100%;



    .section-1 {
        width: 100%;
        min-height: 70vh;
        background-color: #f6d0cd;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        padding: 4vw;
        margin-bottom: 50px;

        .content {
            width: 100%;
            display: flex;
            padding: 4vw;
            align-items: flex-end;
            justify-content: center;

            .content-part1 {
                width: 55%;
                height: 100%;
                padding: 1vw;

                h1 {
                    font-size: 4rem; // Instead of vw
                    font-family: Arial, Helvetica, sans-serif;

                }

                spna {
                    background-color: #dab02a;
                }

                p {
                    font-size: 1.5rem;
                    width: 80%;
                    margin-top: 1.25rem; // 20px → 1.25rem
                }

                h5 {
                    font-size: 1rem;
                    padding: 2rem 0;
                }

                button {
                    padding: 1.5rem 1.25rem;
                    width: 15rem; // Changed from vw to rem
                    font-size: 1.2rem;
                    border-radius: 1.875rem; // 30px → 1.875rem
                    border: none;
                    background-color: #194850;
                    color: aliceblue;
                }
            }

            .content-part2 {
                width: 45%;
                height: 100%;

                .img {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 90%;
                        height: 90%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .section-2 {
        width: 100%;
        height: auto;
        margin-bottom: 4vw;


        .content {
            width: 90%;
            height: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 5vw;
            padding: 2vw 0;




            h2 {
                font-size: 3.5vw;
                text-align: center;
            }


            .boxes {
                flex: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;


                .box {
                    height: 270px;
                    width: 300px;
                    background-color: #f6d0cd;
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 25px 20px;
                    gap: 1vw;





                    .stars {

                        i {
                            font-size: 3.3vw;
                            color: #fff;
                            transition: all ease-in 0.2s;
                            cursor: pointer;

                            &:hover {
                                color: #194850;

                            }
                        }
                    }

                    h5 {
                        font-size: 1.1vw;
                        font-weight: 950;
                        background-color: #dab02a;
                        padding: 10px 20px;
                        border-radius: 20px;
                    }

                    p {
                        font-size: 0.9vw;
                        padding: 0 8px;
                    }
                }
            }
        }

    }

    .section-3 {
        width: 100%;
        min-height: 70vh;
        padding: 5px 0;

        .content {
            width: 100%;
            height: 85%;
            display: flex;
            padding: 0 100px;
            justify-content: space-between;
            gap: 2vw;

            .section-part1 {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 60px;

                .section-part1-top {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding: 2px;

                    h2 {
                        font-size: 4vw;
                    }

                    p {
                        font-size: 1.2vw;
                        width: 70%;
                    }

                    h5 {
                        font-size: 1.1vw;
                        font-weight: 500;

                        span {
                            font-size: 1.8vw;
                        }
                    }
                }

                .section-part1-bottom {
                    width: 100%;
                    display: flex;


                    .boxes {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;

                        .box {
                            height: 200px;
                            width: 230px;
                            background-color: #f6d0cd;
                            border-radius: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 25px 20px;
                            gap: 1vw;

                            h5 {
                                font-size: 2.5vw;
                                font-weight: 950;
                                background-color: #dab02a;
                                padding: 10px 30px;
                                border-radius: 30px;
                                text-align: center;
                            }

                            p {
                                font-size: 0.9vw;
                                padding: 0 8px;
                                text-align: center;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }

            .section-part2 {
                width: 42%;
                height: 500px;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }


    .section-4 {
        width: 100%;
        min-height: 90vh;
        margin-top: 30px;

        .content {
            width: 100%;
            height: 100%;

            h2 {
                font-size: 3.5vw;
                text-align: center;
            }

            .grid-box {

                width: 90%;
                height: 90%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 50px;
                padding: 30px 30px;
                margin: 0 auto;


                .box1 {
                    grid-column: 1;
                    grid-row: 1/3;
                    border-radius: 40px;
                    padding: 10px 30px;

                    img {
                        width: 80%;

                    }

                    h5 {
                        font-size: 1.5vw;
                        background-color: #dab02a;
                        width: fit-content;
                        padding: 10px 20px;
                        margin-top: 20px;
                        border-radius: 50px;
                    }

                    p {
                        font-size: 1.2vw;
                        margin-top: 10px;
                        line-height: 1.8;
                        padding: 10px 0;
                    }
                }

                .box2 {
                    border-radius: 40px;
                    grid-column: 2;
                    /* column 2 */
                    grid-row: 1;
                    /* row 1 */
                    padding: 10px 30px;


                    img {
                        display: block;
                        width: 220px;
                        height: 150px;
                        margin: 0 auto;

                    }

                    h5 {
                        font-size: 1vw;
                        background-color: #dab02a;
                        width: fit-content;
                        padding: 10px 20px;
                        border-radius: 50px;
                    }

                    p {
                        font-size: 1vw;
                        margin-top: 10px;
                        padding: 10px;


                    }


                }

                .box3 {
                    border-radius: 40px;
                    grid-column: 3;
                    /* column 3 */
                    grid-row: 1;
                    /* row 1 */
                    padding: 10px 30px;


                    img {
                        display: block;
                        width: 220px;
                        height: 150px;
                        margin: 0 auto;
                    }

                    h5 {
                        font-size: 1vw;
                        background-color: #dab02a;
                        width: fit-content;
                        padding: 10px 20px;
                        border-radius: 50px;
                    }

                    p {
                        font-size: 1vw;
                        margin-top: 10px;
                        padding: 10px;


                    }

                }

                .box4 {
                    border-radius: 40px;
                    grid-column: 2 / 4;
                    /* column 2 se 3 tak (dono merge) */
                    grid-row: 2;
                    /* row 2 */

                    .text-image {
                        width: 100%;
                        padding: 50px 50px;
                        display: flex;


                        .text {

                            width: 50%;

                            h5 {
                                font-size: 1.2vw;
                                background-color: #dab02a;
                                width: fit-content;
                                padding: 10px 20px;
                                border-radius: 50px;
                            }

                            p {
                                font-size: 1.2vw;
                                line-height: 1.5;
                                margin-top: 10px;
                                padding: 10px;


                            }
                        }

                        img {
                            width: 400px;
                            height: 200px;

                        }



                    }
                }


                .box {
                    background-color: #f5cecb;
                }
            }

        }



    }

    .section-5 {
        width: 100%;
        height: 75vh;
        margin-top: 50px;


        .content {
            width: 90%;
            height: 90%;
            margin: 0 auto;
            padding: 20px 0;


            h2 {
                font-size: 3.5vw;
                text-align: center;
            }

            .container {
                width: 100%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;


                .box {
                    width: 25vw;
                    height: 45vh;
                    color: #194850;
                    background-color: #f5cecb;
                    border-radius: 50px;
                    padding: 20px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 50px;

                    h4 {
                        font-size: 2.5rem;
                        text-align: center;
                        background-color: #dab02a;
                        padding: 10px 30px;
                        border-radius: 20px;

                    }

                    p {
                        font-size: 1.3rem;
                        text-align: center;
                    }

                    button {
                        padding: 25px 20px;
                        width: 15vw;
                        font-size: 25px;
                        border-radius: 30px;
                        border: none;
                        background-color: #194850;
                        color: aliceblue;
                    }
                }

            }

        }
    }

    .section-6 {
        width: 100%;
        min-height: 60vh;

        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            h2 {
                font-size: 3.5vw;
                text-align: center;
            }

            .form-container {
                flex: 1;
                display: flex;


                .img {
                    width: 50%;
                    height: 70vh;


                    img {
                        width: 70%;
                        height: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .form {
                    width: 50%;
                    /* For demo purposes */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    form {

                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        padding: 10px 20px;
                        margin: 0 auto;


                        label {
                            font-size: 1.2rem;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 10px 10px;
                            border-radius: 8px;
                            border: 1px solid #ccc;
                            font-size: 1rem;
                            margin: 10px 0;
                            background-color: #f6d0cd;
                            border: none;

                            &::placeholder {
                                color: #fff;
                            }

                        }

                        button {
                            padding: 15px;
                            border: none;
                            border-radius: 8px;
                            background-color: #194850;
                            color: white;
                            font-size: 1.2rem;
                            cursor: pointer;
                        }

                    }

                }
            }
        }
    }

    .footer {
        width: 100%;
        min-height: 180px;
        background-color: #194850;
        display: flex;
        align-items: center;

        .content {
            width: 90%;
            height: 150px;
            margin: 0 auto;
            color: #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;

            h2 {
                font-size: 2vw;
            }

            .icons {

                i {
                    font-size: 2vw;
                    margin: 0 20px;
                }
            }
        }
    }
}


// responsive starting from here

@media (max-width: 767px) {
    .container {
        .section-1 {
            height: auto;
            padding: 2vw;
            margin-bottom: 4vw;

            .content {
                flex-direction: column-reverse;
                height: auto;
                align-items: stretch; // Make children stretch full width

                .content-part1 {
                    margin-top: 20px;
                    width: 100%;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;


                    h1 {
                        font-size: 6vw;
                    }

                    p,
                    h5 {
                        font-size: 4vw;
                        width: 100%;
                    }

                    button {
                        width: 80%;
                        font-size: 4vw;
                        padding: 15px;
                        align-self: center;


                    }
                }

                .content-part2 {
                    width: 100%;
                    margin-top: 20px;

                    .img {
                        height: auto;

                        img {
                            height: auto;
                        }
                    }
                }
            }
        }

        .section-2 {
            margin-top: 50px;

            .content {
                h2 {
                    font-size: 6vw; // Bigger font for small screen
                }

                .boxes {
                    flex-direction: column; // Stack boxes vertically
                    align-items: center;
                    gap: 25px;

                    .box {
                        width: 90%; // Full width with margin
                        height: auto; // Auto height for flexibility
                        min-height: 200px; // Safe minimum height
                        gap: 20px;

                        .stars i {
                            font-size: 10vw; // Bigger icons on small screen
                        }

                        h5 {
                            font-size: 4vw;
                        }

                        p {
                            font-size: 3.5vw;
                            text-align: center;
                        }
                    }
                }
            }
        }



        .section-3 {
            padding: 2vw;
            margin-top: 50px;

            .content {
                flex-direction: column;
                align-items: center;
                padding: 0;

                .section-part1,
                .section-part2 {
                    width: 100%;
                }

                .section-part1 {
                    gap: 2rem;
                    padding: 0 20px;

                    .section-part1-top {
                        h2 {
                            font-size: 6vw;
                            text-align: center;
                        }

                        p {
                            font-size: 4vw;
                            width: 100%;
                            text-align: center;
                            line-height: 1.5;
                        }

                        h5 {
                            font-size: 4vw;
                            text-align: center;

                            span {
                                font-size: 5vw;
                            }
                        }
                    }

                    .section-part1-bottom {
                        flex: none;
                        width: 100%;

                        .boxes {
                            width: 100%;
                            flex-direction: column;
                            align-items: center;

                            .box {
                                width: 90%;
                                height: auto;
                                min-height: 150px;

                                h5 {
                                    font-size: 5vw;
                                }

                                p {
                                    font-size: 3.5vw;
                                }
                            }
                        }
                    }
                }

                .section-part2 {
                    height: 100%;
                    margin-top: 2rem;

                    video {
                        width: 100%;
                        height: 250px;
                        border-radius: 20px;
                    }
                }
            }
        }

        .section-4 {
            margin-top: 50px;

            .content {
                h2 {
                    text-align: center;
                    font-size: 1.7rem;
                }

                .grid-box {
                    display: block !important;
                    grid-template-columns: 1fr !important;
                    grid-template-rows: auto !important;


                    .box1,
                    .box2,
                    .box3 {

                        img {
                            display: block;
                            margin: 0 auto;
                        }

                        h5 {
                            font-size: 0.8rem;
                        }

                        p {
                            font-size: 1rem;
                            line-height: 1.3;
                        }
                    }

                    .box4 {
                        height: auto;

                        .text-image {
                            width: 100%;
                            flex-direction: column-reverse;

                            padding: 20px 35px;

                            .text {
                                width: 100%;

                                h5 {
                                    font-size: 0.8rem;
                                }

                                p {
                                    font-size: 1rem;
                                    padding: 0;
                                }
                            }

                            img {
                                width: 100%;
                                display: block;
                                margin: 0 auto;
                            }
                        }


                    }
                }

                .grid-box>* {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }


        .section-5 {
            margin-top: 10px;
            height: auto;




            .content {
                width: 95%;
                height: auto;
                padding: 10px 0;

                h2 {
                    font-size: clamp(1.5rem, 5vw, 3rem);
                }

                .container {
                    margin-top: 30px;
                    flex-direction: column !important;
                    align-items: center !important;
                    padding: 10px;
                    gap: clamp(10px, 5vw, 30px);

                    .box {
                        width: 90% !important;
                        height: auto !important;
                        gap: 20px;

                        h4 {
                            font-size: clamp(1.2rem, 4vw, 2rem);
                            padding: 10px 20px;
                        }

                        p {
                            font-size: clamp(1rem, 3vw, 1.5rem);
                        }

                        button {
                            width: 80% !important;
                            font-size: clamp(1rem, 4vw, 1.5rem);
                            padding: 15px 10px;
                        }
                    }
                }
            }
        }


        .section-6 {
            margin-top: 50px;
            width: 100%;

            .content {
                width: 100%;


                h2 {
                    font-size: clamp(2rem, 2.5vw, 3.5rem);
                }


                .form-container {
                    width: 100%;
                    flex-direction: column;

                    .img {
                        width: 100%;
                        height: 90%;
                    }

                    .form {
                        width: 100%;
                        padding: 0 20px;


                        form {
                            width: 100%;
                        }
                    }
                }
            }
        }


        .footer {
            margin-top: 50px;
            width: 100%;
            min-height: 100px;

            .content {
                width: 100%;
                flex-direction: column;
                height: 10px;
                gap: 10px;

                h2 {
                    font-size: 1rem;
                }

                .icons {

                    i {
                        font-size: 1rem;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .container {

        .section-1 {
            width: 100%;

            .content {
                flex-direction: column;
                gap: 20px;

                .content-part1 {
                    width: 100%;

                }

                .content-part2 {

                    width: 100%;
                }
            }
        }

        .section-2 {
            width: 100%;

            .content {
                width: 100%;


                .boxes {
                    justify-content: center;
                    gap: 40px;

                    .box {
                        height: auto;

                        p {
                            font-size: 1rem;
                            text-align: center;
                        }

                    }
                }
            }
        }

        .section-3 {
            width: 100%;

            .content {
                width: 100%;
                height: auto;
                flex-direction: column-reverse;


                .section-part2 {
                    width: 100%;
                }

                .section-part1 {
                    width: 100%;


                    .section-part1-top {
                        width: 100%;


                        h2 {
                            text-align: center;
                        }

                        p,
                        h5 {
                            text-align: center;
                            width: 100%;
                            font-size: 1.5rem;
                        }




                    }

                    .section-part1-bottom {


                        .boxes {
                            width: 100%;
                            align-items: center;


                            .box {
                                padding: 10px;
                                width: 150px;
                                height: auto;

                                p {
                                    font-size: 1rem;

                                }
                            }
                        }
                    }
                }



            }
        }

        .section-4 {
            margin-top: 50px;

            .content {
                h2 {
                    text-align: center;
                    font-size: 2.5rem;
                }

                .grid-box {
                    display: block !important;
                    grid-template-columns: 1fr !important;
                    grid-template-rows: auto !important;


                    .box1,
                    .box2,
                    .box3 {

                        img {
                            display: block;
                            margin: 0 auto;
                            width: 50%;
                        }

                        h5 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 2rem;
                            line-height: 1.3;
                        }
                    }

                    .box4 {
                        height: auto;

                        .text-image {
                            width: 100%;
                            flex-direction: column-reverse;

                            padding: 20px 35px;

                            .text {
                                width: 100%;

                                h5 {
                                    font-size: 1.8rem;
                                }

                                p {
                                    font-size: 2rem;
                                    padding: 0;
                                }
                            }

                            img {
                                width: 100%;
                                display: block;
                                margin: 0 auto;
                            }
                        }


                    }
                }

                .grid-box>* {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }


        .section-5 {
            margin-top: 10px;
            height: auto;




            .content {
                width: 95%;
                height: auto;
                padding: 10px 0;

                h2 {
                    font-size: clamp(1.5rem, 5vw, 3rem);
                }

                .container {
                    margin-top: 30px;
                    flex-direction: column !important;
                    align-items: center !important;
                    padding: 10px;
                    gap: clamp(10px, 5vw, 30px);

                    .box {
                        width: 90% !important;
                        height: auto !important;
                        gap: 40px;

                        h4 {
                            font-size: clamp(1.2rem, 4vw, 3rem);
                            padding: 10px 20px;
                        }

                        p {
                            font-size: clamp(1rem, 3vw, 2.5rem);
                        }

                        button {
                            width: 80% !important;
                            font-size: clamp(1rem, 4vw, 2.5rem);
                            padding: 15px 10px;
                        }
                    }
                }
            }
        }

        .section-6 {
            margin-top: 50px;
            width: 100%;

            .content {
                width: 100%;


                h2 {
                    font-size: clamp(3rem, 2.5vw, 3.5rem);
                }


                .form-container {
                    width: 100%;
                    flex-direction: column;

                    .img {
                        width: 100%;
                        height: 90%;
                    }

                    .form {
                        width: 100%;
                        padding: 0 20px;


                        form {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .footer {
            margin-top: 50px;
            width: 100%;
            min-height: 100px;

            .content {
                width: 90%;
                height: 10px;


                h2 {
                    font-size: 1rem;
                }

                .icons {

                    i {
                        font-size: 1rem;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1024px) and (max-width: 1450px) {

    .container {


        .section-1 {
            width: 100%;
            min-height: 70vh;
            background-color: #f6d0cd;
            border-bottom-left-radius: 10vw;
            border-bottom-right-radius: 10vw;
            padding: 4vw;
            margin-bottom: 50px;

            .content {
                width: 100%;
                display: flex;
                padding: 4vw;
                align-items: flex-end;
                justify-content: center;

                .content-part1 {
                    width: 50%;
                    height: 100%;


                    h1 {
                        font-size: 3rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    p {
                        font-size: 1rem;
                        width: 80%;
                        margin-top: 1.25rem; // 20px → 1.25rem
                    }

                    h5 {
                        font-size: 1rem;
                        padding: 2rem 0;
                    }

                    button {
                        padding: 1rem 1.25rem;
                        width: 15rem; // Changed from vw to rem
                        font-size: 1.2rem;
                        border-radius: 1.875rem; // 30px → 1.875rem
                        border: none;
                        background-color: #194850;
                        color: aliceblue;
                    }
                }

                .content-part2 {
                    width: 50%;
                    height: 100%;


                }
            }
        }

        .section-2 {
            width: 100%;

            .content {
                width: 100%;


                .boxes {
                    justify-content: center;
                    gap: 40px;

                    .box {
                        height: auto;

                        p {
                            font-size: 1rem;
                            text-align: center;
                        }

                    }
                }
            }
        }

        .section-3 {
            margin-bottom: 70px;


            .content {

                .section-part2 {
                    width: 54%;
                    height: 450px;
                }
            }


        }

        .section-5 {
            .content {

                h2 {
                    font-size: 3.5vw;
                    text-align: center;
                }

                .container {

                    .box {
                        gap: 25px;

                        h4 {
                            font-size: 1.5rem;
                            text-align: center;
                            background-color: #dab02a;
                            padding: 10px 40px;
                            border-radius: 20px;
                            margin-top: 10px;

                        }

                        p {
                            font-size: 1.3rem;
                            text-align: center;
                        }

                        button {
                            font-size: 1rem;
                            padding: 15px 20px;

                        }
                    }

                }

            }
        }

    }


}